/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
$font-family: "Montserrat", sans-serif;

html {
  [class*="text-"] {
    font-family: $font-family !important;
  }
  font-family: $font-family !important;
}
