/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import '../node_modules/@fontsource/montserrat/100.css';
@import '../node_modules/@fontsource/montserrat/300.css';
@import '../node_modules/@fontsource/montserrat/400.css';
@import '../node_modules/@fontsource/montserrat/500.css';
@import '../node_modules/@fontsource/montserrat/700.css';
@import '../node_modules/@fontsource/montserrat/900.css';
$font-family: 'Montserrat', sans-serif !important;

.v-application {
  [class*='text-'] {
    font-family: $font-family;
  }
  font-family: $font-family;
}