/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$font-family: 'Montserrat', sans-serif !important;

.v-application {
  [class*='text-'] {
    font-family: $font-family;
  }
  font-family: $font-family;
}